<div class="courses-container">
  <div class="course-grid">
     @for (course of courses(); track $index) {
    <mat-card class="course-item">
      <mat-card-header>
        <mat-card-title>{{ course.name }}</mat-card-title>
        <mat-card-subtitle [style]="getLevelStyle(course.level)">{{ course.level }}</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <p>{{ course.description }}</p>
        <p><strong>Duración:</strong> {{ course.duration }}</p>
        <p><strong>Precio:</strong> {{ course.price  }}</p>
      </mat-card-content>
    </mat-card>
}
  </div>
</div>